/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-container img {
    width: 30%;
    margin-top: 30px;
}

.liens {
    display: flex;
    gap: 100px;
}
.loupe-container .icon {
    color: white;
    display: none; 
    padding: 5px; 
}
.boutton-texte{
  color: white;
}

.lien-Hébergement :hover {
    border-top: 2px solid;
    padding-top: 3px;
    color: #0065FC;

}

.lien-activites :hover {
    border-top: 2px solid;
    padding-top: 3px;
    color: #0065FC;
}

.location-container {
    display: flex;
    align-items: center;
    border: none;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    width: 15%;
}
.location-container .icon{

    padding-right: 15px;
}
.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    background-color: white;
    color: #f2f2f2;
}

.icon-size {
    padding: 12px;
}

.loupe-size {
    padding: 12px;
}

.search-bar {
    padding: 10px;
    height: 20px;
    border: #F2F2F2;
}

.search-button {
    display: flex;
    align-items: center;
    background-color: #0065FC;
    font-size: 15px;
    color: white;
    border-radius: 0 10px 10px 0;
    border: none;
    width: 110px;
    padding-left: 15px;
}

.search-container {
    display: flex;
    justify-content: flex-start;
    border: none;
}


.filtres-container {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.box:hover {
    background-color: #DEEBFF;
}

.circle-info-container {
    margin: 40px 0;

}

.circle-info {
    margin: 15px;

}

.box {
    margin-left: 10px;
    border: 3px solid;
    border-color: #F2F2F2;
    border-radius: 40px;
    padding: 15px;
}

.case {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
.recherche-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 350px;
    height: 45px;
}
.recherche-text{
    background-color: white;
    width: 60%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.loupe-container{
    padding: 13px;
    background-color: #0065FC;
    width: 30%;
    border-radius: 0px 10px 10px 0px;
}
.location-container{
}

.icon {
    color: #000;
}
.text {
    font-weight: bold;
    color: black;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1.1vw;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-cards-container {
    width: 30%;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-radius: 20px;

}


.hebergements-cards {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin-top: 33px;
justify-content: space-between;
}

.hebergements-cards .card-content {
    width: 80%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    white-space: nowrap;
}

.hebergements-cards .card-subtitle {
    margin: 0px;

}

.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 300px;
}


/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);

    width: 32%;
}

.populaires-title {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Activités */
.activites {
    margin-top: 50px;
    margin-bottom: 50px;
}

.activites-title {
    font-size: 22px;

}

.blocactivites {
    display: flex;
    flex-direction: row;
    height: 450px;
    gap: 2%;
}

.caseactivites {
    width: -webkit-fill-available;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.caseactivites img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;

}

.cards-activites {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.activites-text {
    margin-left: 20px;
}

/*Navigation*/
.box-container {
    display: flex;
    flex-direction: row;
}

.filtre-title {
    font-size: 22px;

}

.eco-famille {
    display: flex;
    flex-direction: row;
}

.romantique-pepite {
    display: flex;
    flex-direction: row;

}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .filtres-container {
        flex-direction: column;
    }

    .box-container {
        flex-direction: row;
    }

    /* Hébergement et Populaires */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    .card-title{
        font-size: 2vw;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*Activités*/

    .blocactivites {
        height: 350px;
        width: auto;
        margin: 0 20px;
    }

    .caseactivites img {
        height: 80%;
        object-fit: cover;

    }

}

.footer-container {
    margin-right: 0%;
    padding-right: 10%;
}

.loupe {
    display: none;
}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 768px) {

    /* ... */
    .main-container{
        padding: 0%;
    }
    .nav-mobile {
        width: 100%;  
    box-sizing: border-box;
    }
    .header-container {

        flex-direction: column;
        align-items: center;
    }
    
    
    .liens :hover{
        border-bottom: 3px solid;
        color: #0065FC;

    }
        
    
    
    .lien-Hébergement :hover,
    .lien-activites :hover {
    border-top: none;
}

    .logo {
        width: 60%;
        margin: 5% 0 5% 50%;

    }

    .box {
        display: flex;
        width: 40%;
        gap: 10px;
        font-size: 3vw;
        align-items: center;

    }

    .section-title {
        margin-left:30px; 
    }
    .text-header{
        margin-left: 30px;
    }

    /* Navigation mobile*/
    .filtres-container {
        justify-content: space-around;
        align-items: stretch;

    }
    .filtre-title{
        margin-left: 30px;
    }
    .liens {
        display: flex;
        align-items: center;
        gap: 0%;
    }
    
    .lien-Hébergement,
    .lien-activites {
        width: 100%;
        text-align: center;
        border-bottom: 3px solid;
        border-color: #F2F2F2;
    }
    
    .lien-Hébergement:hover,
    .lien-activites:hover {
        width: 100%;
    }
    .recherche-container{
        display: flex;
    align-items: center;
    border-radius: 12px;
    border: 2px solid;
    border-color: #F2f2f2;
    border-right-color: white;
    height: 45px;
    margin: 20px;
    width: 80%;
    }
     
    .location-container{
        width: 13%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }
    .recherche-bloc{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .recherche-text{
        width: 80%;

    }
    .loupe-container{
    display: flex;
    height: 105%;
    background-color: #0065FC;
    width: 13%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.1));
    padding: 0;

    }
    .loupe-container .icon{
        display: block;
    }
    .boutton-texte{
        display: none;
    }

    .search-container {
        justify-content: center;
    }

    .search-button {
        width: auto;
        padding: 10px;

    }

    .search-button strong {
        display: none;
    }

    .eco-famille {
        width: 80%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

    }

    .romantique-pepite {
        margin-top: 20px;
        display: flex;
        width: 80%;
        justify-content: space-between;

    }

    .box-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    .circle-info-container{
        margin-left: 30px;
    }
    

    /*hebergements et populaires*/
    .hebergements-and-populaires section {
        border-radius: 0%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        background-color: #F2F2F2;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: auto;
    }

    .hebergements {
        background-color: white;
    }
    .card{
        margin-top: 30px;
    }
    .card-title{
        font-size: 16px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: auto;
    }

    /*Activités*/
    .activités {
        height: 1200px;
    }
    .activites-title{
        margin-left: 30px;
    }

    .blocactivites {
        flex-direction: column;
        width: auto;

    }

    .caseactivites {
        height: 80%;
        margin-bottom: 20px;

    }

    .caseactivites img {
        height: 75%;
        width: 100%;
        object-fit: cover;

    }

    /*footer*/

    .footer-container {
        flex-direction: column;
    }

    .loupe {
        display: block;
    }

}

 